<div>
    <h1>Add Vehicle</h1>
    <form>
        <label for="vin">VIN</label><input type="text" name="vin" id="vin" placeholder="VIN" />
        <button type="submit">Add Vehicle</button>
    </form>
    <span id="add-vehicle-status"></span>
</div>
<script type="text/javascript">

</script>