<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/common-styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <title>Device Status - {{TokenID}}</title>
</head>
<body>
<h1>Your session has expired, please login again...</h1>
<button class="back-button" onclick="window.location.href='/'">Back to Login page</button>
</body>
</html>
