replicaCount: 1
image:
  repository: dimozone/trips-web-app
  pullPolicy: IfNotPresent
  tag: da36b6b
imagePullSecrets: []
nameOverride: ''
fullnameOverride: ''
serviceAccount:
  create: true
  annotations: {}
  name: ''
podAnnotations: {}
podSecurityContext: {}
securityContext: {}
env:
  ENVIRONMENT: dev
  PORT: '8080'
  LOG_LEVEL: info
  SERVICE_NAME: trips-web-app
  CLIENT_ID: '0x151e4c2899a3b232613872372e1e872F99CbA09A'
  LOGIN_URL: https://login.dev.dimo.org
  DOMAIN: https://trips-sandbox.dev.drivedimo.com/oauth/callback
  SCOPE: openid email
  RESPONSE_TYPE: code
  GRANT_TYPE: authorization_code
  AUTH_URL: https://auth.dev.dimo.zone/auth/web3/generate_challenge
  SUBMIT_CHALLENGE_URL: https://auth.dev.dimo.zone/auth/web3/submit_challenge
  IDENTITY_API_URL: https://identity-api.dev.dimo.zone/query
  TOKEN_EXCHANGE_API_URL: https://token-exchange-api.dev.dimo.zone/v1/tokens/exchange
  DEVICE_DATA_API_URL: https://device-data-api.dev.dimo.zone/v1
  PRIVILEGE_NFT_CONTRACT_ADDR: '0x90C4D6113Ec88dd4BDf12f26DB2b3998fd13A144'
  TRIPS_API_BASE_URL: https://trips-api.dev.dimo.zone/v1
  USERS_API_BASE_URL: https://users-api.dev.dimo.zone/v1
  TELEMETRY_API_URL: https://telemetry-api.dev.dimo.zone/query
service:
  type: ClusterIP
  ports:
    http:
      port: 8080
      targetPort: http
      protocol: TCP
ports:
- name: http
  containerPort: 8080
  protocol: TCP
ingress:
  enabled: true
  className: nginx
  annotations:
    nginx.ingress.kubernetes.io/auth-tls-secret: ingress/cf-origin-ca
    nginx.ingress.kubernetes.io/auth-tls-verify-client: 'on'
    nginx.ingress.kubernetes.io/enable-cors: 'true'
    nginx.ingress.kubernetes.io/cors-allow-origin: '*'
    external-dns.alpha.kubernetes.io/hostname: trips-sandbox.dev.drivedimo.com
  hosts:
  - host: trips-sandbox.dev.drivedimo.com
    paths:
    - path: /
      pathType: ImplementationSpecific
  tls: []
resources:
  limits:
    cpu: 250m
    memory: 384Mi
  requests:
    cpu: 5m
    memory: 32Mi
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 1
  targetCPUUtilizationPercentage: 80
nodeSelector: {}
tolerations: []
affinity: {}
podDisruptionBudget:
  minAvailable: 0
